* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #584C55;
    --color-2: #987A8F;
    --color-3: #31166B;
    --color-4: #FD6666;
    --color-5: #FCF6F6;
    --color-6: #FE3B99;
    --color-7: #FF5252;

}

body{
    /* flex flex-col h-screen bg-[#FCF6F6]  */
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-color: var(--color-5);

}

aside{
    
    width: 352px;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;

    .recently-list{
        margin-bottom: 40px;
        font-weight: 500;
        color: var(--color-1);
        letter-spacing: -0.025em;
    }

    .tools-list{
        font-weight: 500;
        color: var(--color-1);
        letter-spacing: -0.025em;
    }
    
        li{
            margin-bottom: 8px;
            padding: 4px 8px;
        }
    
    .recently, .tools{
        font-size: 0.875rem /* 14px */;
        line-height: 1.25rem /* 20px */;
        font-weight: 500;
        border-bottom-width: 1px;
        border-color: #F2DEDE;
        padding-bottom: 0.75rem /* 12px */;
        margin-bottom: 1rem /* 16px */;
        letter-spacing: 0.05em;
        display: flex;
        justify-content: space-between;

       

        h2{
            color: var(--color-2);
        }
        h3{
            color: var(--color-6);
        }
    }
}


main{
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* overflow-y: scroll; */
    border-width: 1px;
    margin: 1rem;
    border-radius: 1.5rem;
    background-color: white;
    /* position: relative; */
    

}


/* header and nav */
.header-area{
    background-color: white;
    padding: 40px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-2);
    font-weight: 500;
    font-size: 14px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-color-basic {
    color: var(--color-1);
}


#chat-gpt , #obj-remover{
    /* flex justify-between items-center px-8  py-5 font-bold text-2xl tracking-tight text-gray-700 border-b */
    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 32px;
        font-weight: bold;
        font-size: 1.5rem /* 24px */;
        line-height: 2rem /* 32px */;
        letter-spacing: -0.025em;
        border-bottom: 1px solid #e6e6e6;
        color: var(--color-1);

    }
}

.chat-bubble-other {
    min-width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10000px;
    background-color: #74205C;
    font-size: 18px;
    color: white;
}




/* account */
.account-title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 24px;
    border-bottom: 1px solid #e6e6e6;
    color: var(--color-1);
    padding: 24px 35px;
}

.account-label{
    font-size: 14px;
    font-weight: 500;
    color: var(--color-1);
    text-transform: capitalize;
    display: block;
    color: #B5B5B5;
}

.account-input{
    font-size: 16px;
    font-weight: 500;
    padding: 18px 15px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    width: 100%;
    margin-top: 12px;
}

.account-check-radio-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    accent-color: var(--color-3);

    input{
        width: 20px;
        height: 20px;
    }
}

.account-bottom-card{
    /* mt-6 p-4 border rounded-xl border-gray-200 */
    margin: 24px;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #D8D8D8;
    color: var(--color-1);
    font-weight: 500;
    h2{
        font-size: 16px;
    }
    p{
        font-size: 13px;
    }

}


/* pricing */
#pricing{

    .pricing-body{
        /* width: 100%; */
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .pricing-title{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 24px;
        border-bottom: 1px solid #e6e6e6;
        color: var(--color-1);
        padding: 24px 35px;
    }



    .card {
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 30px 25px;
        text-align: center;
    }

    .name-price{
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: start;
        
    }

    .discount{
        background: var(--color-4);
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        font-weight: 600;
    }

    .card h2 {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: var(--color-1);
    }
    .card .price {
        font-size: 33px;
        color: var(--color-1);
        font-weight: bold;
        margin: 5px 0;
    }
    .card button {
        background-color: #ff006a;
        background: linear-gradient(to right, #8530F1, #DA3CAD);
        color: white;
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.3s ease;
    }
    .card button:hover {
        background-color: #d8005e;
        background-image: linear-gradient(90deg, #d8005e, #6922c6);
    }
    .card ul {
        list-style: none;
        padding: 0;
        margin: 20px 0 0 0;
    }
    .card ul li {
        display: flex;
        align-items: center;
        margin: 13px 0;
        font-weight: 500;
        font-size: 15px;
        color: var(--color-1);
        gap: 10px;

    }

}



/* modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #0e0923bf;
    .close{
        width: 100%;
        text-align: right;
        font-size: 30px;
    }
  
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 10px 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 20px;
    color: var(--color-1);

    h2{
        font-weight: bold;
        font-size: 24px ;
        text-align: left;
        margin-bottom: 25px;
    }

    .description{
        font-weight: 500;
        font-size: 16px ;
    }


}


.close:hover, .close-modal:hover,
.close:focus, .close-modal:focus {
    text-decoration: none;
    cursor: pointer;
}





/* utilities */

.pro{
    /* text-xs bg-[#FF5252] px-1 , rounded-md text-white font-bold */
    font-size: 11px;
    background-color: var(--color-7);
    padding: 1px 4px;
    border-radius: 6px;
    color: white;
    font-weight: bold;

}


/* .slider{

    width: 100%;
    height: 8px;
    border-radius: 20px;
    accent-color: var(--color-7);
    cursor: pointer;
    background-color: #D8D8D8;
    
} */


.button {
    background: linear-gradient(to right, #8530F1, #DA3CAD);
    color: white;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    box-shadow: none;
    width: 100%;
    margin-top: 1rem;
}

.button-alt {
    border: 1px solid #a855f7;
    color: #a855f7;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    box-shadow: none;
    width: 100%;
    margin-top: 1rem;
}

.button:hover {
    background: linear-gradient(to right, #ff66b2, #a855f7);
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}



#select-chat-id{
    display: none;
}





.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

body {
    font-family: "Inter", sans-serif;
}

.tabs{
    /* flex justify-start items-center border-b tracking-tight font-medium text-color-basic */
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #e6e6e6;
    letter-spacing: -0.025em;
    font-weight: 500;
    color: var(--color-1);
}

.selected-tab{
    height: 5px;
    background-color: #fff;
}

.tabs .active .selected-tab{
    
        height: 5px;
        background-color: var(--color-1);
    
}




.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd;
    outline: none;
    opacity: 1;
    /* transition: opacity .2s; */
}



.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    background: url('/assets/slider-thumb.svg') no-repeat center;
    background-size: cover;
    cursor: pointer;
    margin-top: -11px; /* Centers the thumb vertically */
}

.slider::-moz-range-thumb {
    width: 30px;
    height: 30px;
    background: url('/assets/slider-thumb.svg') no-repeat center;
    background-size: cover;
    cursor: pointer;
    border: none;
}

.slider::-ms-thumb {
    width: 30px;
    height: 30px;
    background: url('/assets/slider-thumb.svg') no-repeat center;
    background-size: cover;
    cursor: pointer;
    border: none;
    margin-top: 0; /* Centers the thumb vertically for IE */
}

.slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--color-4);
    border-radius: 5px;
    /* border: 0.2px solid #010101; */
}

.slider::-moz-range-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: var(--color-4);
    border-radius: 5px;
    /* border: 0.2px solid #010101; */
}

.slider::-ms-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.slider::-ms-fill-lower {
    background: var(--color-4);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}

.slider::-ms-fill-upper {
    background: var(--color-4);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}

/* Custom animation for the sidebar */
.slide-in-left {
    animation: slide-in-left 0.2s forwards;
}

.slide-out-left {
    animation: slide-out-left 0.2s forwards;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-200%);
    }
}





.dropdown {
    position: relative;
    display: inline-block;
}

.block {
    cursor: pointer;
}

.size-8 {
    width: 2rem;
    height: 2rem;
}

.dropdown-menu {
    width: 200px;
    display: none;
    position: absolute;
    right: 0;
    margin-top: 0.5rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    overflow: hidden;
    z-index: 999;
}

.dropdown-menu a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--color-1);
    text-decoration: none;
    padding: 1rem;
}

.dropdown-menu a:hover {
    background-color: var(--color-5);
}

.lg-hidden {
    display: block;
}