* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-1: #584C55;
    --color-2: #987A8F;
    --color-3: #31166B;
    --color-4: #FD6666;
    --color-5: #FCF6F6;
    --color-6: #FE3B99;
    --color-7: #FF5252;

}

body{
    /* flex flex-col h-screen bg-[#FCF6F6]  */
    display: flex;
    flex-direction: column;
    height: 100dvh;
    background-color: var(--color-5);

}

aside{
    
    width: 352px;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;

    .recently-list{
        margin-bottom: 40px;
        font-weight: 500;
        color: var(--color-1);
        letter-spacing: -0.025em;
    }

    .tools-list{
        font-weight: 500;
        color: var(--color-1);
        letter-spacing: -0.025em;
    }
    
        li{
            margin-bottom: 8px;
            padding: 4px 8px;
        }
    
    .recently, .tools{
        font-size: 0.875rem /* 14px */;
        line-height: 1.25rem /* 20px */;
        font-weight: 500;
        border-bottom-width: 1px;
        border-color: var(--color-2);
        padding-bottom: 0.75rem /* 12px */;
        margin-bottom: 1rem /* 16px */;
        letter-spacing: 0.05em;
        display: flex;
        justify-content: space-between;

       

        h2{
            color: var(--color-2);
        }
        h3{
            color: var(--color-6);
        }
    }
}


main{
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    border-width: 1px;
    margin: 1rem;
    border-radius: 1.5rem;
    background-color: white;

}


/* header and nav */
.header-area{
    background-color: white;
    padding: 40px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-2);
    font-weight: 500;
    font-size: 14px;
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-color-basic {
    color: var(--color-1);
}


#chat-gpt , #obj-remover{
    /* flex justify-between items-center px-8  py-5 font-bold text-2xl tracking-tight text-gray-700 border-b */
    .title{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 32px;
        font-weight: bold;
        font-size: 1.5rem /* 24px */;
        line-height: 2rem /* 32px */;
        letter-spacing: -0.025em;
        border-bottom: 1px solid #D8D8D8;

    }
}

.chat-bubble-other {
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10000px;
    background-color: #74205C;
    font-size: 18px;
    color: white;
}




/* account */
.account-title{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 24px;
    border-bottom: 1px solid #D8D8D8;
    color: var(--color-1);
    padding: 24px 35px;
}

.account-label{
    font-size: 14px;
    font-weight: 500;
    color: var(--color-1);
    text-transform: capitalize;
    display: block;
    color: #B5B5B5;
}

.account-input{
    font-size: 16px;
    font-weight: 500;
    padding: 18px 15px;
    border: 1px solid #D8D8D8;
    border-radius: 5px;
    width: 100%;
    margin-top: 12px;
}

.account-check-radio-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    accent-color: var(--color-3);

    input{
        width: 20px;
        height: 20px;
    }
}

.account-bottom-card{
    /* mt-6 p-4 border rounded-xl border-gray-200 */
    margin-top: 24px;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #D8D8D8;
    color: var(--color-1);
    font-weight: 500;
    h2{
        font-size: 16px;
    }
    p{
        font-size: 13px;
    }

}


/* pricing */
#pricing{

    .pricing-body{
        /* width: 100%; */
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .pricing-title{
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 24px;
        border-bottom: 1px solid #D8D8D8;
        color: var(--color-1);
        padding: 24px 35px;
    }



    .card {
        width: 400px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 30px 25px;
        text-align: center;
    }

    .name-price{
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: start;
        
    }

    .discount{
        background: var(--color-4);
        color: white;
        padding: 5px 10px;
        border-radius: 20px;
        font-weight: 600;
    }

    .card h2 {
        margin: 0;
        font-size: 18px;
        font-weight: 500;
        color: var(--color-1);
    }
    .card .price {
        font-size: 33px;
        color: var(--color-1);
        font-weight: bold;
        margin: 5px 0;
    }
    .card button {
        background-color: #ff006a;
        background-image: linear-gradient(90deg, #ff006a, #832bf9);
        color: white;
        border: none;
        border-radius: 8px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.3s ease;
    }
    .card button:hover {
        background-color: #d8005e;
        background-image: linear-gradient(90deg, #d8005e, #6922c6);
    }
    .card ul {
        list-style: none;
        padding: 0;
        margin: 20px 0 0 0;
    }
    .card ul li {
        display: flex;
        align-items: center;
        margin: 13px 0;
        font-weight: 500;
        font-size: 15px;
        color: var(--color-1);
        gap: 10px;

    }

}



/* modals */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    .close{
        width: 100%;
        text-align: right;
        font-size: 30px;
    }
  
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;

    h2{
        font-weight: bold;
        font-size: 24px ;
        text-align: left;
        margin-bottom: 10px;
    }

    .description{
        font-weight: 500;
        font-size: 16px ;
    }


}


.close:hover, .close-modal:hover,
.close:focus, .close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}





/* utilities */

.pro{
    /* text-xs bg-[#FF5252] px-1 , rounded-md text-white font-bold */
    font-size: 14px;
    background-color: var(--color-7);
    padding: 0 4px;
    border-radius: 4px;
    color: white;
    font-weight: bold;

}


.slider{

    width: 100%;
    height: 8px;
    border-radius: 20px;
    accent-color: var(--color-4);
    cursor: pointer;
    background-color: #D8D8D8;
    
}


.button {
    background: linear-gradient(to right, #a855f7, #ff66b2);
    color: white;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    box-shadow: none;
    width: 100%;
    margin-top: 1rem;
}

.button-alt {
    border: 1px solid #a855f7;
    color: #a855f7;
    font-weight: bold;
    padding: 1rem;
    border-radius: 0.5rem;
    outline: none;
    box-shadow: none;
    width: 100%;
    margin-top: 1rem;
}

.button:hover {
    background: linear-gradient(to right, #ff66b2, #a855f7);
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}



.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

body {
    font-family: "Inter", sans-serif;
}

.tabs{
    /* flex justify-start items-center border-b tracking-tight font-medium text-color-basic */
    display: flex;
    justify-content: start;
    align-items: center;
    border-bottom: 1px solid #D8D8D8;
    letter-spacing: -0.025em;
    font-weight: 500;
    color: var(--color-1);
}

.tabs .active {
    border-bottom: 5px solid var(--color-1);
}



input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #fee2e2; /* Tailwind color red-100 */
    border-radius: 5px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type=range]:hover {
    opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    background: #fb7185; /* Tailwind color red-400 */
    border-radius: 50%;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background: #fb7185; /* Tailwind color red-400 */
    border-radius: 50%;
    cursor: pointer;
}